name: Terraform CI/CD

on:
  pull_request:
    branches: [main]
    paths: ['**.tf', '**.tfvars']
  push:
    branches: [main]
    paths: ['**.tf', '**.tfvars']
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/GitHubActionsTerraformRole
          aws-region: ${{ vars.AWS_REGION }}

      - name: Zip Lambda
        run: zip lambda.zip lambda.py

      - name: Upload to S3
        run: aws s3 cp lambda.zip s3://${{ vars.AWS_S3_BUCKET }}/lambda/hello_world_lambda.zip

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true

      - name: Terraform Apply
        if: github.event_name == 'push'
        run: terraform apply -auto-approve
